.meal_list{
    position:relative;
    max-height: 65vh;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    height : 0;
    width: 0;
}

.btn_categories{
    color: #eeff00ab;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 42, 0);
}

.btn_categories:hover {
    background-color: rgb(255, 42, 0);
    color:aliceblue;
    transform: scale(1.01, 1.09);
    transition: all 0.2s ease;
}

.card_meal_list{
    width: 18rem;
}

@media only screen and (max-width: 767px) {
    .card_meal_list {
        width: 9rem;
    }
}